.card-max-height {
    height: 100%;
}

.add-img {
    height: 12.6rem;
}

.add-elem:hover {
    -webkit-box-shadow: 0px 0px 47px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 47px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 47px -2px rgba(0,0,0,0.75);
}

.half-size {
    width: 50%;
    text-align: center;
}